trigger:
- main

variables:
  BuildConfiguration: 'Release'
  WebAppName: 'demo-webapp426'   # <-- change this
  AzureServiceConnection: 'SC-Azure-Demo426'  # <-- change this

stages:
# =========================
# CI Stage - Build
# =========================
- stage: CI
  displayName: "CI - Build & Publish Artifact"
  jobs:
  - job: Build
    pool:
      vmImage: 'windows-latest'
    steps:
    - checkout: self

    - task: UseDotNet@2
      displayName: "Install .NET SDK"
      inputs:
        packageType: 'sdk'
        version: '10.0'

    - script: dotnet restore
      displayName: "Restore"

    - script: dotnet build --configuration $(BuildConfiguration) --no-restore
      displayName: "Build"

    - script: dotnet publish --configuration $(BuildConfiguration) --output $(Build.ArtifactStagingDirectory)
      displayName: "Publish"

    - task: PublishBuildArtifacts@1
      displayName: "Publish Artifact"
      inputs:
        PathtoPublish: '$(Build.ArtifactStagingDirectory)'
        ArtifactName: 'drop'
        publishLocation: 'Container'


# =========================
# CD Stage - Deploy
# =========================
- stage: CD
  displayName: "CD - Deploy to Azure App Service"
  dependsOn: CI
  condition: succeeded()
  jobs:
  - deployment: DeployWeb
    displayName: "Deploy Web App"
    environment: "dev"
    pool:
      vmImage: 'windows-latest'
    strategy:
      runOnce:
        deploy:
          steps:
          - download: current
            artifact: drop

          - task: AzureWebApp@1
            displayName: "Deploy to Azure App Service"
            inputs:
              azureSubscription: '$(AzureServiceConnection)'
              appType: 'webApp'
              appName: '$(WebAppName)'
              package: '$(Pipeline.Workspace)/drop'

